.header {
  display: flex;
  padding: 20px;
  background-color: red;
  font-size: 25px;
}
#header-left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#highScores {
  background-color: red;
  font-size: 25px;
  padding: 2px;
  border: 2px solid black;
  margin: 0px;
  font-weight: bold;
  cursor: pointer;
}

#header-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#header-right h3 {
  border: 2px solid black;
  padding: 4px;
}

#homePage h1,
#question {
  padding: 20px;
  background-color: yellow;
  font-size: 50px;
  text-align: center;
}

#homePage p {
  padding: 20px 100px 20px 100px;
  font-size: 30px;
  text-align: center;
}

#homePage #begin {
  margin: auto;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(220, 209, 209);
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  margin: 20px;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(220, 209, 209);
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
}

#header-left h3,
.btn,
#submitButton {
  cursor: pointer;
}

#questionAnswers {
  display: flex;
  justify-content: center;
}

#incorrect,
#correct {
  display: none;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.userInitials {
  margin: 4%;
  text-align: center;
}

#userScore,
#highScoresHeader {
  display: none;
  padding: 20px;
  background-color: yellow;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
}

input {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid black;
  font-weight: bolder;
}

#submitButton {
  margin: auto;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(220, 209, 209);
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#highScoresDisplay {
  display: none;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
}

#restartQuizBtn,
#clearHighScoresBtn {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#restartQuiz,
#clearHighScores {
  margin: auto;
  border: 2px solid black;
  padding: 4px;
  background-color: rgb(220, 209, 209);
  font-size: 25px;
  display: none;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #questionAnswers {
    flex-direction: column;
  }
  #ans1,
  #ans2,
  #ans3,
  #ans4 {
    margin: 20px 4em;
    padding: 0.5em 0;
  }
}
